- @page_title = t(:tax_rates)

= content_for :header do
  %p.buttons=link_to t(:tax_rate_new) , :new_tax_rate, :class => 'button green'
  %h2.tax_rates= t(:tax_rates)

.table
  %table.data
    %thead
      %tr
        %th= t(:name)
        %th= t(:rate)
    %tbody
      - for tax_rate in @tax_rates
        %tr
          %td= link_to tax_rate.name, [:edit, tax_rate]
          %td= tax_rate.rate
