- @page_title = t(:login)
= display_flash
.loginArea
  = form_tag :login, :class => 'login' do
    %p.field
      = text_field_tag :email_address, params[:email_address], :class => 'focus', :placeholder => t(:email_address)
    %p.field
      = password_field_tag 'password', params[:password], :class => '', :placeholder => t(:password)
    %p.submit
      = submit_tag t(:login), :class => 'button green'
    %p.reset
      = link_to t(:reset_link), login_reset_path