- @page_title =  t('shoppe.sessions.admin_login')
= display_flash
.loginArea
  = form_tag :login, :class => 'login' do
    %p.field
      = text_field_tag 'email_address', params[:email_address], :class => 'focus', :placeholder => t('shoppe.sessions.email')
    %p.field
      = password_field_tag 'password', params[:password], :class => '', :placeholder =>  t('shoppe.sessions.password')
    %p.submit
      = submit_tag t('shoppe.sessions.login'), :class => 'button green'
    %p.reset
      = link_to t('shoppe.sessions.reset_password?'), login_reset_path
