- @page_title = t(:login)
= display_flash
.loginArea
  %h2= t(:reset_link)
  = form_tag :login_reset, :class => 'login' do
    %p.field
      = text_field_tag 'email_address', params[:email_address], :class => 'focus', :placeholder => t(:email_address)
    %p.submit
      = submit_tag t(:login), :class => 'button green'
    %p.reset
      = link_to t(:login_back), login_path