- @page_title = 'Admin Login'
= display_flash
.loginArea
  %h2 Reset your password
  = form_tag :login_reset, :class => 'login' do
    %p.field
      = text_field_tag 'email_address', params[:email_address], :class => 'focus', :placeholder => 'E-Mail Address'
    %p.submit
      = submit_tag "Login", :class => 'button green'
    %p.reset
      = link_to "Back to login", login_path