- @page_title = t('shoppe.customers.customers')

= content_for :header do
  %p.buttons
    = link_to t('shoppe.customers.new_customer'), :new_customer, class: "button green"
    = link_to t('shoppe.customers.search_customer'), '#', class: 'button', rel: "searchCustomers"
  %h2.users= t('shoppe.customers.customers')

= render "search_form"

.table
  %table.data
    %thead
      %tr
        %th= t('shoppe.customers.name')
        %th= t('shoppe.customers.company')
        %th= t('shoppe.customers.email')
        %th= t('shoppe.customers.phone')
        %th= t('shoppe.customers.mobile_phone')
    %tbody
      - if @customers.empty?
        %tr.empty
          %td{colspan: 5}= t('shoppe.customers.no_customers')
      - else
        - for customer in @customers
          %tr
            %td= link_to customer.full_name, customer
            %td= link_to customer.company, customer
            %td= customer.email
            %td= customer.phone
            %td= customer.mobile
= paginate @customers
