- @page_title = t('shoppe.customers.customers') + " - #{@customer.name}"
= content_for :header do
  %p.buttons
    = link_to t('shoppe.customers.new_address'), [:new, @customer, :address], class: "button"
    = link_to t('shoppe.customers.edit'), [:edit, @customer], class: "button"
  %h2.users= t('shoppe.customers.customers') + "- #{@customer.name}"

#customer
  .details
    .left
      %dl
        %dt= t('shoppe.customers.name')
        %dd= @customer.full_name
        %dt= t('shoppe.customers.company')
        %dd= @customer.company.blank? ? '-' : @customer.company
    .right
      %dl
        %dt= t('shoppe.customers.email')
        %dd= mail_to @customer.email
        %dt= t('shoppe.customers.phone')
        %dd= @customer.phone
        %dt= t('shoppe.customers.mobile_phone')
        %dd= @customer.mobile

  = field_set_tag t('shoppe.customers.addresses'), :class => 'padded' do
    = render "addresses"

  = field_set_tag t('shoppe.orders.orders'), :class => 'padded' do
    .table
      %table.data
        %thead
          %tr
            %th= t('shoppe.orders.number')
            %th= t('shoppe.orders.status')
            %th= t('shoppe.orders.products')
            %th= t('shoppe.orders.total')
            %th= t('shoppe.orders.payment')
        %tbody
          - if @orders.empty?
            %tr.empty
              %td{:colspan => 6}= t('shoppe.orders.no_orders')
          - else
            - for order in @orders
              %tr
                %td= link_to order.number, order
                %td= status_tag order.status
                %td
                  %ul
                    - for item in order.order_items
                      %li #{item.quantity} x #{item.ordered_item.full_name}
                %td= number_to_currency order.total
                %td= boolean_tag order.paid_in_full?, nil, :true_text => number_to_currency(order.amount_paid), :false_text => number_to_currency(order.amount_paid)
