- @page_title = t(:countries)

= content_for :header do
  %p.buttons=link_to t(:country_new), :new_country, :class => 'button green'
  %h2.countries= t(:countries)

.table
  %table.data
    %thead
      %tr
        %th= t(:name)
        %th ISO 3166-1-alpha-2
        %th ISO 3166-1-alpha-3
        %th= t(:continent)
        %th TLD
        %th EU?
    %tbody
      - for country in @countries
        %tr
          %td= link_to country.name, [:edit, country]
          %td= country.code2
          %td= country.code3
          %td= country.continent
          %td= country.tld
          %td= boolean_tag country.eu_member?
