- @page_title = t('shoppe.countries.countries')

= content_for :header do
  %p.buttons=link_to t('shoppe.countries.new_country') , :new_country, :class => 'button green'
  %h2.countries= t('shoppe.countries.countries')

.table
  %table.data
    %thead
      %tr
        %th= t('shoppe.countries.name')
        %th= t('shoppe.countries.iso_alpha_2')
        %th= t('shoppe.countries.iso_alpha_3')
        %th= t('shoppe.countries.continent')
        %th= t('shoppe.countries.tld')
        %th= t('shoppe.countries.eu?')
    %tbody
      - for country in @countries
        %tr
          %td= link_to country.name, [:edit, country]
          %td= country.code2
          %td= country.code3
          %td= country.continent
          %td= country.tld
          %td= boolean_tag country.eu_member?
