- @page_title = t('shoppe.shared.error')
= display_flash
.error
  %h2= t('shoppe.shared.error_occured')
  %p.message= @exception.message
  %p.back= link_to "&larr;#{t('shoppe.shared.back_to_shoppe')}".html_safe, root_path, :class => 'button'
