- @page_title = "Delivery Services"

= content_for :header do
  %p.buttons= link_to "New delivery service", :new_delivery_service, :class => 'button green'
  %h2.delivery_services Delivery Services
  
.table
  %table.data
    %thead
      %tr
        %th Name
        %th Prices
        %th Courier
        %th Active?
        %th Default?
    %tbody
      - if @delivery_services.empty?
        %tr.empty
          %td{:colspan => 5} No delivery services to display.
      - else
        - for delivery_service in @delivery_services
          %tr
            %td= link_to delivery_service.name, [:edit, delivery_service]
            %td= link_to "Set Prices", [delivery_service, :delivery_service_prices]
            %td= delivery_service.courier
            %td= boolean_tag delivery_service.active?
            %td= boolean_tag delivery_service.default?
          