- @page_title = t('shoppe.product_category.product_categories')
= content_for :header do
  %p.buttons
    = link_to t('shoppe.localisations.localisations') , [@product_category, :localisations], :class => 'button'
    = link_to t('shoppe.product_category.back_to_categories'), :product_categories, :class => 'button'
  %h2.products= t('shoppe.product_category.product_categories')
= render 'form'

