.table
  %table.data
    %thead
      %tr
        %th{:width => '20%'}
          = form_tag(:products, method: "get") do
            = t('shoppe.products.sku')
            = search_field_tag :sku, params[:sku], size: 25, min: 2, placeholder: t('shoppe.products.filter.sku')
        %th{:width => '40%'}
          = form_tag(:products, method: "get") do
            = t('shoppe.products.name')
            = search_field_tag :name, params[:name], size: 65, min: 3, placeholder: t('shoppe.products.filter.name_or_description')
        %th{:width => '25%'}= t('shoppe.products.price_variants')
        %th{:width => '15%'}= t('shoppe.products.stock')
      %tr
        %th
        %th(colspan='3')
          = t('shoppe.product_category.product_categories')
          - options = options_for_select(nested_set_options(Shoppe::ProductCategory) {|i| "#{'-' * i.level} #{i.name}" }, params[:category_id] )
          = select_tag 'parent_id', options, { onchange: "window.location.href='#{products_url}/?category_id=' + $(this).val() + ''"}
    %tbody
      - if products.empty?
        %tr.empty
          %td{:colspan => 4}= t('shoppe.products.no_products')
      - else
        - for category, products in products
          %tr
            %th{:colspan => 4}= category.name
          - for product in products
            %tr
              %td= product.sku
              %td= link_to product.name, [:edit, product]
              - if product.has_variants?
                %td.table{:colspan => 2}
                  %table.data
                    - for variant in product.variants
                      %tr
                        %td{:width => '40%'}= link_to variant.name, edit_product_variant_path(product, variant)
                        %td{:width => '30%'}= number_to_currency variant.price
                        %td{:width => '30%'}
                          - if variant.stock_control?
                            %span.float-right= link_to t('shoppe.products.edit') , stock_level_adjustments_path(:item_type => variant.class, :item_id => variant.id), :class => 'edit', :rel => 'dialog', :data => {:dialog_width => 700, :dialog_behavior => 'stockLevelAdjustments'}
                            = boolean_tag(variant.in_stock?, nil, :true_text => variant.stock, :false_text => t('shoppe.products.no_stock'))
                          - else
                            &#8734;
              - else
                %td= number_to_currency product.price
                %td
                  - if product.stock_control?
                    %span.float-right= link_to t('shoppe.products.edit'), stock_level_adjustments_path(:item_type => product.class, :item_id => product.id), :class => 'edit', :rel => 'dialog', :data => {:dialog_width => 700, :dialog_behavior => 'stockLevelAdjustments'}
                    = boolean_tag(product.in_stock?, nil, :true_text => product.stock, :false_text => t('shoppe.products.no_stock'))
                  - else
                    &#8734;
