- @page_title = t('shoppe.products.products')
= content_for :header do
  %p.buttons
    = link_to t('shoppe.localisations.localisations') , [@product, :localisations], :class => 'button'
    = link_to t('shoppe.products.variants') , [@product, :variants], :class => 'button'
    = link_to t('shoppe.products.stock_levels') , stock_level_adjustments_path(:item_id => @product.id, :item_type => @product.class), :class => 'button', :rel => 'dialog', :data => {:dialog_width => 700, :dialog_behavior => 'stockLevelAdjustments'}
    = link_to t('shoppe.products.back_to_products') , :products, :class => 'button'
  %h2.products= t('shoppe.products.products')
= render 'form'
