- @page_title = t('shoppe.products.products')

= content_for :header do
  %h2.products= t('shoppe.products.import_products')

= form_for "import", :url => import_products_path, :html => {:multipart => true} do |f|
  = f.error_messages
  
  = field_set_tag "File Upload" do
    %dl
      %dt= f.label :file, "File - must be csv, xls or xlsx"
      %dd= f.file_field :file

  %p.submit
    = f.submit "Import", :class => "button green"
    = link_to "Cancel", :products, :class => "button"