- @page_title = t('shoppe.products.products')

= content_for :header do
  %h2.products= t('shoppe.products.import_products')

= form_for "import", :url => import_products_path, :html => {:multipart => true} do |f|
  = f.error_messages
  
  = field_set_tag t('shoppe.imports.file_upload') do
    %dl
      %dt= f.label :file, t('shoppe.imports.required_formats')
      %dd= f.file_field :file

  %p.submit
    = f.submit t('shoppe.import'), :class => "button green"
    = link_to t('shoppe.cancel'), :products, :class => "button"