= form_for [@order, Shoppe::Payment.new(:amount => @order.balance)] do |f|
  %dl.text
    %dt= f.label :method, t('shoppe.orders.method')
    %dd= f.text_field :method, :class => 'text'
  %dl.text
    %dt= f.label :reference, t('shoppe.orders.reference')
    %dd= f.text_field :reference, :class => 'text'
  %dl.amount
    %dt= f.label :amount, t('shoppe.orders.amount')
    %dd
      .moneyInput
        .currency= Shoppe.settings.currency_unit.html_safe
        = f.text_field :amount, :class => 'text'
  %dl.submit
    %dd= f.submit t('shoppe.orders.add_payment') , :class => 'button green'
