.status-bar
  %ul
    - if @order.received?
      %li.received
        %h4 Order Received
        %p on #{@order.received_at.to_s(:short)} from #{@order.ip_address}

    - if @order.accepted?
      %li.accepted
        %h4 Order Accepted
        %p
          on #{@order.accepted_at.to_s(:short)}
          - if @order.accepter
            by #{@order.accepter.short_name}
        
    - elsif @order.rejected?
      %li.rejected
        %h4 Order rejected
        %p
          on #{@order.rejected_at.to_s(:short)}
          - if order.rejecter
            by #{@order.rejecter.short_name}

    - if @order.shipped?
      %li.shipped
        %h4 Order Shipped
        %p on #{@order.shipped_at.to_s(:short)} by #{@order.shipper.try(:short_name) || 'Unknown'}
        - if @order.delivery_service && @order.courier_tracking_url
          %p= link_to "Tracking URL", @order.courier_tracking_url
        - else
          %p Consignment # <b>#{@order.consignment_number}</b>
