.status-bar
  %ul
    - if @order.received?
      %li.received
        %h4= t('shoppe.orders.order_received')
        %p
          = t('shoppe.orders.status_bar.on_date', on: @order.received_at.to_s(:short))
          = t('shoppe.orders.status_bar.from_ip', ip: @order.ip_address)

    - if @order.accepted?
      %li.accepted
        %h4= t('shoppe.orders.order_accepted')
        %p
          = t('shoppe.orders.status_bar.on_date', on: @order.accepted_at.to_s(:short))
          - if @order.accepter
            = t('shoppe.orders.status_bar.by_user', user: @order.accepter.short_name)

    - elsif @order.rejected?
      %li.rejected
        %h4= t('shoppe.orders.order_rejected')
        %p
          = t('shoppe.orders.status_bar.on_date', on: @order.rejected_at.to_s(:short))
          - if @order.rejecter
            = t('shoppe.orders.status_bar.by_user', user: @order.rejecter.short_name)

    - if @order.shipped?
      %li.shipped
        %h4= t('shoppe.orders.order_shipped')
        %p
          = t('shoppe.orders.status_bar.on_date', on: @order.shipped_at.to_s(:short))
          = t('shoppe.orders.status_bar.by_user', user: @order.shipper.try(:short_name) || 'Unknown')
        - if @order.delivery_service && @order.courier_tracking_url
          %p= link_to t('shoppe.orders.status_bar.tracking_url'), @order.courier_tracking_url
        - else
          %p= t('shoppe.orders.status_bar.consignment_no_html', consignment_number: @order.consignment_number)
