.status-bar
  %ul
    - if @order.received?
      %li.received
        %h4= t(:order_received)
        %p
          = t(:on_date , :date => @order.received_at.to_s(:short)) 
          = t(:from_ip , :ip => @order.ip_address)
    - if @order.accepted?
      %li.accepted
        %h4= t(:order_accepted)
        %p
          = t(:on_date , :date => @order.accepted_at.to_s(:short) )
          - if @order.accepter
            = t(:by_person , :person => @order.accepter.short_name)
        
    - elsif @order.rejected?
      %li.rejected
        %h4= t(:order_rejected)
        %p
          = t(:on_date , :date => @order.rejected_at.to_s(:short))
          - if @order.rejecter
            = t(:by_person , :person => @order.rejecter.short_name)

    - if @order.shipped?
      %li.shipped
        %h4= t(:order_shipped)
        %p 
          = t(:on_date , :date => @order.shipped_at.to_s(:short)) 
          = t(:by_person , :person => @order.shipper.short_name || t(:unknown))
        - if @order.delivery_service && @order.courier_tracking_url
          %p= link_to t(:tracking_url), @order.courier_tracking_url
        - else
          %p 
            = t(:consignment)
            %b=@order.consignment_number
          
