- @page_title = 'Edit Order #' + @order.number

= content_for :header do
  %p.buttons
    = link_to "Back to order", @order, :class => 'button grey'
  %h2.orders Edit Order <b>##{@order.number}</b>

= form_for @order, :html => {:class => 'orderForm'} do |f|
  = f.error_messages
  = render 'form', :f => f
  
  = field_set_tag "Notes" do
    %dl
      %dd= f.text_area :notes, :class => 'text'

  = field_set_tag "Ordered Products", :class => 'padded' do
    = render 'order_items_form', :f => f

  %p.submit
    = f.submit "Save Order", :class => 'button green'
    = link_to "Cancel", @order, :class => 'button'