- @page_title = "#{t('shoppe.orders.edit_order')} ##{@order.number}"

= content_for :header do
  %p.buttons
    = link_to t('shoppe.orders.back_to_order'), @order, :class => 'button grey'
  %h2.orders "#{t('shoppe.orders.edit_order')} <b>##{@order.number}</b>"

= form_for @order, :html => {:class => 'orderForm'} do |f|
  = f.error_messages
  = render 'form', :f => f

  = field_set_tag  t('shoppe.orders.notes') do
    %dl
      %dd= f.text_area :notes, :class => 'text'

  = field_set_tag t('shoppe.orders.ordered_products'), :class => 'padded' do
    = render 'order_items_form', :f => f

  %p.submit
    = f.submit t('shoppe.orders.save_order') , :class => 'button green'
    = link_to t('shoppe.cancel'), @order, :class => 'button'
