- @page_title = "Stock Levels - #{@item.name}"
= content_for :header do
  %p.buttons
    - case @item
    - when Shoppe::Product
      - @active_nav = :products
      = link_to "Edit product", [:edit, @item], :class => 'button'
      = link_to "Back to product list", :products, :class => 'button'
      
  %h2.products Stock Levels for #{@item.name}

.table
  %p.info
    Current stock level is <b>#{@item.stock}</b>
    %span.float-right= page_entries_info @stock_level_adjustments

  = form_for @new_sla do |f|
    = hidden_field_tag 'item_type', params[:item_type]
    = hidden_field_tag 'item_id', params[:item_id]
    %table.data
      %thead
        %tr
          %th{:width => '25%'} Date
          %th{:width => '50%'} Description
          %th{:width => '25%'} Adjustment
      %tbody
        %tr.form
          %td
          %td.desc= f.text_field :description
          %td.adjustment
            = f.text_field :adjustment
            = f.submit "Add", :class => 'button button-mini green'
        - for sla in @stock_level_adjustments
          %tr
            %td= sla.created_at.to_s(:long)
            %td= sla.description
            %td= sla.adjustment > 0  ? "+#{sla.adjustment}" : sla.adjustment

    = paginate @stock_level_adjustments