- @page_title = "#{t('shopr.localisations.localisations')} - #{@product.name}"

= content_for :header do
  %p.buttons
    = link_to t('shopr.localisations.back'), [:edit, @product], :class => 'button'
    = link_to t('shopr.localisations.new_localisation'), [:new, @product, :localisation], :class => 'button green'

  %h2.products= t('shopr.localisations.localisations_of', name: @product.name)

.table
  %table.data
    %thead
      %tr
        %th{:width => '20%'}= t('shopr.localisations.language')
        %th{:width => '50%'}= t('shopr.products.name')
        %th{:width => '15%'}= t('shopr.products.permalink')
    %tbody
      - if @localisations.empty?
        %tr.empty
          %td{:colspan => 4}= t('shopr.localisations.no_localisations')
      - else
        - for localisation in @localisations
          %tr
            %td= localisation.locale
            %td= link_to localisation.name, edit_product_localisation_path(@product, localisation)
            %td= localisation.permalink
