= form_for [@delivery_service, @delivery_service_price] do |f|
  = f.error_messages
  = field_set_tag "Identification & Weight" do
    .splitContainer
      %dl.third
        %dt= f.label :code
        %dd= f.text_field :code, :class => 'focus text'
      
      %dl.third
        %dt= f.label :min_weight
        %dd= f.text_field :min_weight, :class => 'text'
      %dl.third
        %dt= f.label :max_weight
        %dd= f.text_field :max_weight, :class => 'text'

  = field_set_tag "Pricing" do
    .splitContainer
      %dl.third
        %dt= f.label :price
        %dd
          .moneyInput
            .currency= Shoppe.settings.currency_unit.html_safe
            = f.text_field :price, :class => 'text'
      %dl.third
        %dt= f.label :cost_price
        %dd
          .moneyInput
            .currency= Shoppe.settings.currency_unit.html_safe
            = f.text_field :cost_price, :class => 'text'
      %dl.third
        %dt= f.label :tax_rate_id
        %dd= f.collection_select :tax_rate_id, Shoppe::TaxRate.ordered, :id, :description, {:include_blank => true}, {:class => 'chosen-with-deselect', :data => {:placeholder => "No tax"}}

  = field_set_tag "Countries" do
    %dl
      %dd
        = f.collection_select :country_ids, Shoppe::Country.ordered, :id, :name, {}, {:class => 'chosen', :multiple => true, :data => {:placeholder => "All countries"}}
        %p.help This delivery rate will only be available to orders where the country selected is listed here.

  %p.submit
    - unless @delivery_service_price.new_record?
      %span.right= link_to "Delete", [@delivery_service, @delivery_service_price], :class => 'button purple', :method => :delete, :data => {:confirm => "Are you sure you wish to remove this price?"}
    = f.submit :class => 'button green'
    = link_to "Cancel", [@delivery_service, :delivery_service_prices], :class => 'button'
