= form_for [@delivery_service, @delivery_service_price] do |f|
  = f.error_messages
  = field_set_tag t('shoppe.delivery_service_prices.identification_weight')  do
    .splitContainer
      %dl.third
        %dt= f.label :code, t('shoppe.delivery_service_prices.code')
        %dd= f.text_field :code, :class => 'focus text'

      %dl.third
        %dt= f.label :min_weight, t('shoppe.delivery_service_prices.min_weight')
        %dd= f.text_field :min_weight, :class => 'text'
      %dl.third
        %dt= f.label :max_weight, t('shoppe.delivery_service_prices.max_weight')
        %dd= f.text_field :max_weight, :class => 'text'

  = field_set_tag t('shoppe.delivery_service_prices.pricing') do
    .splitContainer
      %dl.third
        %dt= f.label :price, t('shoppe.delivery_service_prices.price')
        %dd
          .moneyInput
            .currency= Shoppe.settings.currency_unit.html_safe
            = f.text_field :price, :class => 'text'
      %dl.third
        %dt= f.label :cost_price, t('shoppe.delivery_service_prices.cost_price')
        %dd
          .moneyInput
            .currency= Shoppe.settings.currency_unit.html_safe
            = f.text_field :cost_price, :class => 'text'
      %dl.third
        %dt= f.label :tax_rate_id, t('shoppe.delivery_service_prices.tax_rate')
        %dd= f.collection_select :tax_rate_id, Shoppe::TaxRate.ordered, :id, :description, {:include_blank => true}, {:class => 'chosen-with-deselect', :data => {:placeholder => t('shoppe.delivery_service_prices.no_tax')}}

  = field_set_tag t('shoppe.delivery_service_prices.countries') do
    %dl
      %dd
        = f.collection_select :country_ids, Shoppe::Country.ordered, :id, :name, {}, {:class => 'chosen', :multiple => true, :data => {:placeholder => t('shoppe.delivery_service_prices.all_countries')}}
        %p.help= t('shoppe.delivery_service_prices.help.countries')

  %p.submit
    - unless @delivery_service_price.new_record?
      %span.right= link_to t('shoppe.delete'), [@delivery_service, @delivery_service_price], :class => 'button purple', :method => :delete, :data => {:confirm => "Are you sure you wish to remove this price?"}
    = f.submit t('shoppe.submit'), :class => 'button green'
    = link_to t('shoppe.cancel'), [@delivery_service, :delivery_service_prices], :class => 'button'
