= form_for [@delivery_service, @delivery_service_price] do |f|
  = f.error_messages
  = field_set_tag t(:identification_weight) do
    .splitContainer
      %dl.third
        %dt= f.label :code , t(:code)
        %dd= f.text_field :code, :class => 'focus text'
      
      %dl.third
        %dt= f.label :min_weight , t(:min_weight)
        %dd= f.text_field :min_weight, :class => 'text'
      %dl.third
        %dt= f.label :max_weight , t(:max_weight)
        %dd= f.text_field :max_weight, :class => 'text'

  = field_set_tag t(:pricing) do
    .splitContainer
      %dl.third
        %dt= f.label :price , t(:price)
        %dd
          .moneyInput
            .currency= Shoppe.settings.currency_unit.html_safe
            = f.text_field :price, :class => 'text'
      %dl.third
        %dt= f.label :cost_price , t(:cost_price)
        %dd
          .moneyInput
            .currency= Shoppe.settings.currency_unit.html_safe
            = f.text_field :cost_price, :class => 'text'
      %dl.third
        %dt= f.label :tax_rate_id , t(:tax_rate)
        %dd= f.collection_select :tax_rate_id, Shoppe::TaxRate.ordered, :id, :description, {:include_blank => true}, {:class => 'chosen-with-deselect', :data => {:placeholder => t(:tax_none)}}

  = field_set_tag t(:countries) do
    %dl
      %dd
        = f.collection_select :country_ids, Shoppe::Country.ordered, :id, :name, {}, {:class => 'chosen', :multiple => true, :data => {:placeholder => t(:countries_all)}}
        %p.help= t(:countries_select_help)

  %p.submit
    - unless @delivery_service_price.new_record?
      %span.right= link_to t(:delete), [@delivery_service, @delivery_service_price], :class => 'button purple', :method => :delete, :data => {:confirm => t(:delivery_pricing_delete_confirm)}
    = f.submit :class => 'button green'
    = link_to t(:cancel) , [@delivery_service, :delivery_service_prices], :class => 'button'
