- @page_title = t(:delivery_pricing)

= content_for :header do
  %p.buttons
    = link_to t(:price_new), [:new, @delivery_service, :delivery_service_price], :class => 'button green'
    = link_to t(:delivery_pricing_back), :delivery_services, :class => 'button'
  %h2.delivery_services= t(:delivery_pricing_for , :service => @delivery_service.name)

.table
  %table.data
    %thead
      %tr
        %th= t(:code)
        %th= t(:weight_allowance)
        %th= t(:price)
        %th= t(:cost)
    %tbody
      - for price in @delivery_service_prices
        %tr
          %td= link_to price.code, [:edit, @delivery_service, price]
          %td #{number_to_weight price.min_weight} &rarr; #{number_to_weight price.max_weight}
          %td= number_to_currency(price.price)
          %td= number_to_currency price.cost_price
          