- @page_title = t('shoppe.delivery_service_prices.delivery_services')

= content_for :header do
  %p.buttons
    = link_to t('shoppe.delivery_service_prices.new_price'), [:new, @delivery_service, :delivery_service_price], :class => 'button green'
    = link_to t('shoppe.delivery_service_prices.back_to_delivery_services'), :delivery_services, :class => 'button'
  %h2.delivery_services= t('shoppe.delivery_service_prices.pricing_for', delivery_name: @delivery_service.name)

.table
  %table.data
    %thead
      %tr
        %th= t('shoppe.delivery_service_prices.code')
        %th= t('shoppe.delivery_service_prices.weight_allowance')
        %th= t('shoppe.delivery_service_prices.price')
        %th= t('shoppe.delivery_service_prices.cost')
    %tbody
      - for price in @delivery_service_prices
        %tr
          %td= link_to price.code, [:edit, @delivery_service, price]
          %td #{number_to_weight price.min_weight} &rarr; #{number_to_weight price.max_weight}
          %td= number_to_currency(price.price)
          %td= number_to_currency price.cost_price
