- @page_title = t('shopr.shared.error')
= display_flash
.error
  %h2= t('shopr.shared.error_occured')
  %p.message= @exception.message
  %p.back= link_to "&larr;#{t('shopr.shared.back_to_shopr')}".safe_join, root_path, :class => 'button'
