= form_for @user do |f|
  = f.error_messages
  = field_set_tag "User Details" do
    .splitContainer
      %dl.half
        %dt= f.label :first_name
        %dd= f.text_field :first_name, :class => 'focus text'
      %dl.half
        %dt= f.label :last_name
        %dd= f.text_field :last_name, :class => 'text'
  = field_set_tag "Login" do
    .splitContainer
      %dl.third
        %dt= f.label :email_address
        %dd= f.text_field :email_address, :class => 'text'
      %dl.third
        %dt= f.label :password
        %dd= f.password_field :password, :class => 'text'
      %dl.third
        %dt= f.label :password_confirmation, "...and again"
        %dd= f.password_field :password_confirmation, :class => 'text'


  %p.submit
    - unless @user.new_record?
      %span.right= link_to "Delete", @user, :class => 'button purple', :method => :delete, :data => {:confirm => "Are you sure you wish to remove this user?"}
    = f.submit :class => 'button green'
    = link_to "Cancel", :users, :class => 'button'
