- @page_title = t(:users)

= content_for :header do
  %p.buttons=link_to t(:user_new), :new_user, :class => 'button green'
  %h2.users= t(:users)

.table
  %table.data
    %thead
      %tr
        %th= t(:name)
        %th= t(:email_address)
    %tbody
      - for user in @users
        %tr
          %td= link_to user.full_name, [:edit, user]
          %td= user.email_address
