- @page_title = "Variants - #{@product.name}"
= content_for :header do
  %p.buttons= link_to "Back to variants", [@product, :variants], :class => 'button'
  %h2.products Variants of #{@product.name}


= form_for [@product, @variant], :url => @variant.new_record? ? product_variants_path(@product) : product_variant_path(@product, @variant), :html => {:multipart => true} do |f|
  = f.error_messages
  = field_set_tag "Product Information" do
    .splitContainer
      %dl.third
        %dt= f.label :name
        %dd= f.text_field :name, :class => 'text focus'
      %dl.third
        %dt= f.label :permalink
        %dd= f.text_field :permalink, :class => 'text'
      %dl.third
        %dt= f.label :sku, 'SKU'
        %dd= f.text_field :sku, :class => 'text'
      
  = field_set_tag "Image" do
    %dl
      %dd
        = attachment_preview @variant.default_image, :hide_if_blank => true
        %p= f.file_field :default_image_file
      
  = field_set_tag "Pricing" do
    .splitContainer
      %dl.third
        %dt= f.label :price
        %dd= f.text_field :price, :class => 'text'
      %dl.third
        %dt= f.label :cost_price
        %dd= f.text_field :cost_price, :class => 'text'
      %dl.third
        %dt= f.label :tax_rate_id
        %dd= f.collection_select :tax_rate_id, Shoppe::TaxRate.ordered, :id, :description, {:include_blank => true}, {:class => 'chosen-with-deselect', :data => {:placeholder => "No tax"}}

  = field_set_tag "Stock Control" do
    .splitContainer
      %dl.half
        %dt= f.label :weight
        %dd= f.text_field :weight, :class => 'text'

      %dl.half
        %dt= f.label :stock_control
        %dd.checkbox
          = f.check_box :stock_control
          = f.label :stock_control, "Enable stock control for this product?"

  = field_set_tag "Website Properties" do
    .splitContainer
      %dl.half
        %dt= f.label :active, "On sale?"
        %dd.checkbox
          = f.check_box :active
          = f.label :active, "If checked, this product will be displayed within the public store"
      %dl.half
        %dt= f.label :default, "Default variant?"
        %dd.checkbox
          = f.check_box :default
          = f.label :default, "If checked, this variant will be the default"
  
  %p.submit
    - unless @variant.new_record?
      %span.right= link_to "Delete", product_variant_path(@product, @variant), :class => 'button purple', :method => :delete, :data => {:confirm => "Are you sure you wish to remove this variant?"}
    = f.submit "Save Variant", :class => 'button green'
    = link_to "Cancel", :products, :class => 'button'
