- @page_title = t(:variants_of , :product => @product.name)

= content_for :header do
  %p.buttons
    = link_to t(:product_edit), [:edit, @product], :class => 'button'
    = link_to t(:variant_new), [:new, @product, :variant], :class => 'button green'  

  %h2.products= t(:variants_of , :product => @product.name)

.table
  %table.data
    %thead
      %tr
        %th{:width => '20%'}= t(:sku)
        %th{:width => '50%'}=t(:name)
        %th{:width => '15%'}= t(:price)
        %th{:width => '15%'}= t(:stock)
    %tbody
      - if @variants.empty?
        %tr.empty
          %td{:colspan => 4}= t(:products_none)
      - else
        - for variant in @variants
          %tr
            %td= variant.sku
            %td= link_to variant.name, edit_product_variant_path(@product, variant)
            %td= number_to_currency variant.price
            %td
              - if variant.stock_control?
                %span.float-right= link_to t(:edit), stock_level_adjustments_path(:item_type => variant.class, :item_id => variant.id), :class => 'edit', :rel => 'dialog', :data => {:dialog_width => 700, :dialog_behavior => 'stockLevelAdjustments'}
                = boolean_tag(variant.in_stock?, nil, :true_text => variant.stock, :false_text => t(:stck_none))
              - else
                &#8734;
